<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip" />
  <package id="adobereader" />
  <package id="google-chrome-x64" />
  <package id="adblockpluschrome" />
  <package id="btsync" />
  <package id="picasa" />
  <package id="google-pinyin" />
  <package id="paint.net" />
  <package id="adblockplusie" />
  <package id="skype" />
  <package id="Shotty" />
  <package id="windirstat" />
  <package id="TeraCopy" />
  <package id="daemontoolslite" />
  <package id="wincommandpaste-compiled" />
  <package id="gittfs" />
  <package id="notepadplusplus.install" />
</packages>

